#root {
  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  min-height: 100vh;

  color-scheme: light dark;
  color: #262626;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #262626;
  text-decoration: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
