.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}